/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

#particles-js {
    display: none !important;
}

body {
	font: normal normal 400;
	font-size: 70%;
	line-height: 1.5em;
	font-family: Verdana,sans-serif;
	margin: 1em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
}

h1 {
	text-align: left;
	font-size: 2.5em;
	line-height: 1em;
	margin-left: 25%;
	width: 73%;
}

h1+p { 
	/*subtitle*/
	font-style: italic;
	font-size: 100%;
	margin-left: 25%;
}

.section {
	clear: both;
	margin-top: 1em;
}

h2 {
	font-size: 1em;
	color: #a00;
	width: 20%;
	float: left;
	text-align: left;
	clear: both;
}

h3 {
	font-size: 0.9em;
	width: 20%;
	float: left;
	text-align: left;
	clear: both;
}

p {
	margin-left: 25%;
	width: 73%;
	margin-bottom: 0.7em;
}

ul { 
	margin-left: 25%;
	width: 73%;
	margin-bottom: 1.5em;
}

li {
	padding-left: 1.25em;
	text-indent: -1.25em;
	margin-bottom: 0.2em;
}

#webaddress {
	margin-left: 25%;
	width: 73%;
	color: #aaa;
	font-family: Menlo,monospace,sans-serif;
	font-size: 70%;
	margin-bottom: 3em;
}

code {
	font: normal normal;
	font-size: 60%;
	font-family: Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	top: -10%;
	left: -14%;
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

em {
	font-weight: bold;
	font-style: italic;
}

strong {
	font-weight: bold;
}

#address {
	display: none;
}



/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/
